<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OSM with Leaflet</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <style>

        /* Style for input labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Style for input fields */
input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

        .navbar {
            background-color: #333;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

.logo {
            color: white;
            font-size: 24px;
            font-weight: bold;
        }

.buttonsInNav{
            display: flex;
            align-items: center;
            width: 400px; /* Set fixed width */
            height: 40px; /* Set fixed height */

        }

.user-name,
        .user-role {
       background-color: #04AA6D;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: 1px solid #ccc;
          width: 100%;
          opacity: 0.9;
        }

        .signout-btn{
            background-color: red;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: 1px solid #ccc;
          width: 100%;
          opacity: 0.9;
        }

        .sell-btn{
            background-color: red;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: 1px solid #ccc;
          width: 100%;
          opacity: 0.9;
        }

 button {
          background-color: #04AA6D;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: 1px solid #ccc;
          cursor: pointer;
          width: 100%;
          opacity: 0.9;
        }

        button:hover {
          opacity: 1;
        }

        .cancelbtn {
          width: auto;
          padding: 14px 20px;
          background-color: #f44336;
        }
        .cancelbtn, .signupbtn {
          float: left;
          width: 50%;
        }


        .container {
            display: none; /* Initially hide the container */
            position: fixed; /* Position the container relative to the viewport */
            top: 50%; /* Center vertically */
            left: 50%; /* Center horizontally */
            transform: translate(-50%, -50%); /* Center the container */
            width: 300px;
            padding: 20px;
            background-color: #FFFC9B;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 9999;
            filter:blur(0px);
        }
        .blur {
            filter: blur(5px); /* Apply blur effect */
            pointer-events: none; /* Disable pointer events */
            transition: filter 2s ease; /* Add smooth transition */

        }

  hr {
          border: 1px solid #f1f1f1;
          margin-bottom: 25px;
        }

        .clearfix::after {
          content: "";
          clear: both;
          display: table;
        }

        @media screen and (max-width: 300px) {
          .cancelbtn, .signupbtn {
            width: 100%;
          }
        }

.signing-btn {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
        }


        .container-box {
            border: 1px solid #ccc;
            padding: 20px;
            margin-top: 20px;
            text-align: left;
            width: 300px;

        }
        .container-box-main {
            border: 1px solid #ccc;
            display:flex;
            gap:10px;
            flex-direction: row;
            padding: 20px;
            margin-top: 20px;
            text-align: left;
        }

        .display-property-box{
            border: 1px solid #ccc;
            display:flex;
            flex-direction: column;
            padding: 20px;
            gap: 10px;
            margin-top: 20px;
            text-align: left;
            width:100%;
        }

        .container {
            text-align: left;
        }



    </style>
</head>
<body>
<div class="navbar">
    <div class="logo">Ghar Jagga</div>

    <div class="buttonsInNav">
        <div id="user-name" class="user-name">User Name</div>
        <div id="role" class="user-role">User Role</div>

        <button id="signup-btn" onclick="showSignupForm()">Sign Up</button>
        <button id="signin-btn" onclick="showSigninForm()">Sign In</button>
        <button id="signout-btn" onclick="Signout()">Sign Out</button>

    </div>
</div>

<div id="map" style="height: 400px;"></div>
<button onclick="clearMarker()">Clear Marker</button>
<button onclick="sendData()">Send Data to Backend</button>



<div id="coordinates-box">Coordinates: </div>
<form id="imageUploadForm">
    <label for="image">Select Image:</label>
    <input type="file" id="image" name="image" accept="image/*">
    <br>
    <button type="button" onclick="uploadImage()">Upload Image</button>
</form>
<div id="imageContainer"></div>
<button type="button" onclick="getImageById(5)">Get Image by ID 3</button>

<form id="propertyDetailsForm">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>
    <br>
    <label for="description">Description:</label>
    <textarea id="description" name="description" required></textarea>
    <br>
    <label for="budget">Budget (numbers only):</label>
    <input type="number" id="budget" name="budget" required>
    <br>
    <label for="address">Description:</label>
    <textarea id="address" name="address" required></textarea>
    <br>
    <label for="ropani">Ropani:</label>
    <input type="number" id="ropani" name="ropani" required>
    <label for="aana">Aana:</label>
    <input type="number" id="aana" name="aana" required>
    <label for="paisa">Paisa:</label>
    <input type="number" id="paisa" name="paisa" required>
    <label for="daam">Daam:</label>
    <input type="number" id="daam" name="daam" required>
    <br>
    <label for="property-type">Type:</label>
    <select id="property-type" name="property-type" required>
        <option value="0" disabled selected>Select your role</option>
        <option value="1">House</option>
        <option value="2">Land</option>
    </select>
    <br>
    <button type="button" onclick="submitPropertyDetails()">Submit Property Details</button>
</form>


<script>
    var map = L.map('map').setView([28.3949, 84.1240], 13);
    var marker;

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    var geocoder = L.Control.Geocoder.nominatim();
    var control = L.Control.geocoder({
        geocoder: geocoder,
        defaultMarkGeocode: false
    }).on('markgeocode', function (e) {
        var bbox = e.geocode.bbox;
        var poly = L.polygon([
            bbox.getSouthEast(),
            bbox.getNorthEast(),
            bbox.getNorthWest(),
            bbox.getSouthWest()
        ]).addTo(map);
        map.fitBounds(poly.getBounds());
    }).addTo(map);

    map.on('click', function (e) {
        var coordinates = e.latlng;
        updateMarker(coordinates);
    });

    function updateMarker(coordinates) {
        if (marker) {
            map.removeLayer(marker);
        }

        marker = L.marker(coordinates).addTo(map);
        marker.bindPopup("Marker at " + coordinates.lat.toFixed(4) + "° N, " + coordinates.lng.toFixed(4) + "° E");

        document.getElementById('coordinates-box').textContent = "Coordinates: " + coordinates.lat.toFixed(4) + "° N, " + coordinates.lng.toFixed(4) + "° E";
    }

function submitPropertyDetails() {
    var title = document.getElementById("title").value.trim();
    var description = document.getElementById("description").value.trim();
    var budget = document.getElementById("budget").value.trim();
    var address = document.getElementById("address").value.trim();

    var aana = document.getElementById("aana").value.trim();
    var paisa = document.getElementById("paisa").value.trim();
    var ropani = document.getElementById("ropani").value.trim();
    var daam = document.getElementById("daam").value.trim();
    var type = document.getElementById("property-type").value.trim();
    var userId = localStorage.getItem('userId');

    if (!title) {
        document.getElementById("title").setCustomValidity("Title cannot be empty");
        document.getElementById("title").reportValidity();
        console.error("there is no title");

        return;
    }
    if (!description) {
        document.getElementById("description").setCustomValidity("Description cannot be empty");
        document.getElementById("description").reportValidity();
        return;
    }
    if (!budget) {
        document.getElementById("budget").setCustomValidity("Budget cannot be empty");
        document.getElementById("budget").reportValidity();
        return;
    }
     if (!address) {
        document.getElementById("address").setCustomValidity("Address cannot be empty");
        document.getElementById("address").reportValidity();
        return;
    }

        if (!aana) {
        document.getElementById("aana").setCustomValidity("Aana cannot be empty");
        document.getElementById("aana").reportValidity();
        return;
    }
    if (!paisa) {
        document.getElementById("paisa").setCustomValidity("Paisa cannot be empty");
        document.getElementById("paisa").reportValidity();
        return;
    }
    if (!ropani) {
        document.getElementById("ropani").setCustomValidity("Ropani cannot be empty");
        document.getElementById("ropani").reportValidity();
        return;
    }
    if (!daam) {
        document.getElementById("daam").setCustomValidity("Daam cannot be empty");
        document.getElementById("daam").reportValidity();
        return;
    }

    if (!type || type ==0) {
        document.getElementById("type").setCustomValidity("Type cannot be empty");
        document.getElementById("type").reportValidity();
        return;
    }



    if(!marker){
                alert('Please mark a location in map.');
                return;
    }

                        var latitude = marker.getLatLng().lat.toFixed(4);
                        var longitude = marker.getLatLng().lng.toFixed(4);
                        uploadImage();
                        addProperty(title, description, budget, aana, paisa, ropani, daam, type, userId, latitude, longitude,address);

}


    function clearMarker() {
        if (marker) {
            map.removeLayer(marker);
            marker = null;

            document.getElementById('coordinates-box').textContent = "Coordinates: ";
        }
    }

    function addProperty(title, description, budget, aana, paisa, ropani, daam, type, userId, latitude, longitude,address) {
    // Construct the request body


    const requestBodyLocations = {
        address:address
    };

    fetch('/locations', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(requestBodyLocations)
    })
    .then(response => {
        if (response.ok) {
            console.log('Property added successfully');
            // Handle success, e.g., redirect to a confirmation page
        } else {
            console.error('Failed to add property');
            // Handle error, e.g., display an error message to the user
        }
    })
    .catch(error => {
        console.error('Error:', error);
        // Handle network error
    });

    const requestBody = {
        _area: {
            id: aana // Assuming aana is the ID for _area
        },
        coordinate: {
            id: latitude // Assuming latitude is the ID for coordinate
        },
        location: {
            id: 1 // Assuming location ID is always 1
        },
        description: description,
        price: budget, // Assuming budget is the price
        user: {
            id: userId // Assuming userId is the ID for user
        },
        title: title,
        type: type
    };
    // Make the POST request
    fetch('/properties', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(requestBody)
    })
    .then(response => {
        if (response.ok) {
        return response.json();
        } else {
            console.error('Failed to add property');
            // Handle error, e.g., display an error message to the user
        }
    })
    .then(data => {
    // Access the property ID from the response data
    const propertyId = data;
    console.log('Property added successfully. Property ID:', propertyId);
    // Handle success, e.g., redirect to a confirmation page
    })

    .catch(error => {
        console.error('Error:', error);
        // Handle network error
    });
}

        function uploadImage() {
            const inputElement = document.getElementById('image');
            const file = inputElement.files[0];

            // Check if a file is selected
            if (file) {
                const reader = new FileReader();
                reader.onloadend = function () {
                    const base64Content = reader.result.split(',')[1];

                    const imageData = {
                        image: base64Content
                    };
                    fetch('http://localhost:8080/properties', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(imageData)
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Response from backend:', data);
                        // Handle the response as needed
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        // Handle errors
                    });
                };

                reader.readAsDataURL(file);
            } else {
                // Handle the case where no file is selected
                document.getElementById('image').setCustomValidity("Image cannot be empty");
                document.getElementById('image').reportValidity();;

            }
        }





        function getImageById(id) {

            fetch(`http://localhost:8080/property-details/${id}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                const base64Content = data.image;

                displayImage(base64Content);
            })
            .catch(error => {
                console.error('Error:', error);
                // Handle errors
            });
        }

        function displayImage(base64Content) {
            const imageElement = document.createElement('img');
            imageElement.src = `data:image/png;base64,${base64Content}`;

            // Set any additional attributes or styles as needed
            // imageElement.setAttribute('width', '300');
            // imageElement.setAttribute('height', '200');

            const imageContainer = document.getElementById('imageContainer');
            imageContainer.innerHTML = '';
            imageContainer.appendChild(imageElement);
        }

    // Function to show the signup form
    function showSignupForm() {
        var signUpForm = document.getElementById("signUpForm");
        signUpForm.style.display = "block";
        document.getElementById("backgroundOverlay").classList.add("blur");

    }

    // Function to cancel and hide the signup form
    function hideSignUpForm() {
        var signUpForm = document.getElementById("signUpForm");
        signUpForm.style.display = "none";
        document.getElementById("backgroundOverlay").classList.remove("blur"); // Remove 'blur' class from background overlay
    }

        function showSigninForm() {
        var signInForm = document.getElementById("signInForm");
        signInForm.style.display = "block";
        document.getElementById("backgroundOverlay").classList.add("blur");

    }
        function Signout(){
            localStorage.clear();
            window.location.href = "/"; // Change the URL as needed
        }
        function sellPage(){
            window.location.href = "/uploadSeller"; // Change the URL as needed
        }

    // Function to cancel and hide the signup form
    function hideSignInForm() {
        var signInForm = document.getElementById("signInForm");
        signInForm.style.display = "none";
        document.getElementById("backgroundOverlay").classList.remove("blur"); // Remove 'blur' class from background overlay
    }



    function checkAndSignUp() {
    var email = document.getElementById("email").value.trim();;
    var name = document.getElementById("name").value.trim();
    var phone = document.getElementById("phone").value.trim();
    var role_id = document.getElementById("role_id").value.trim();
    var password = document.getElementById("psw").value.trim();
    var repeatPassword = document.getElementById("psw-repeat").value.trim();
    var secretCode = document.getElementById("secretCode").value.trim();

    var emailPattern = /^[a-zA-Z0-9._%+-]+@(gmail\.com|yahoo\.com|hotmail\.com|outlook\.com|aol\.com|icloud\.com|live\.com|msn\.com|inbox\.com)$/;

    //Check if email is valid.
    if (!email) {
        document.getElementById("email").setCustomValidity("No email given");
        document.getElementById("email").reportValidity();
        return;
    }

    if (emailPattern.test(email)) {
        // Email is valid
        document.getElementById("email").setCustomValidity("");
    } else {
        // Email is invalid
        document.getElementById("email").setCustomValidity("Please enter a valid email.");
        document.getElementById("email").reportValidity();
         return;
    }

    if (!name) {
        document.getElementById("name").setCustomValidity("No name given");
        document.getElementById("name").reportValidity();
        return;
    }

    // Check if name has at least 4 letters
    if (name.length < 4) {
        document.getElementById("name").setCustomValidity("Name is too short");
        document.getElementById("name").reportValidity();
        return;
    }
    if (name.length > 15) {
        document.getElementById("name").setCustomValidity("Name is too long");
        document.getElementById("name").reportValidity();
        return;
    }

    if (phone.length !== 10) {
        document.getElementById("phone").setCustomValidity("Phone number is invalid ");
        document.getElementById("phone").reportValidity();
        return;
    }

    if (role_id === "0") {
        document.getElementById("role_id").setCustomValidity("Please select a role");
        document.getElementById("role_id").reportValidity();
        return;
    }

    if (!password) {
        document.getElementById("psw").setCustomValidity("No password given");
        document.getElementById("psw").reportValidity();
        return;
    }

    if (password.length <4) {
        document.getElementById("psw").setCustomValidity("Password too short");
        document.getElementById("psw").reportValidity();
        return;
    }

    if (password.length >20) {
        document.getElementById("psw").setCustomValidity("Password too long");
        document.getElementById("psw").reportValidity();
        return;
    }

    var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).*$/;

    if (!passwordRegex.test(password)) {
        document.getElementById("psw").setCustomValidity("Password must contain at least one lowercase letter, one uppercase letter, one number, and be at least 8 characters long");
        document.getElementById("psw").reportValidity();
        return;
    }

    // Check if password and repeat password match
    if (password !== repeatPassword) {
        document.getElementById("psw-repeat").setCustomValidity("Passwords do not match");
        document.getElementById("psw-repeat").reportValidity();
        return;
    }

        // Make AJAX request to backend to check if email is already in use
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/check-email", true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                if (response.available) {
                    submitForm();
                } else {
                    // If email is not available, display error message
                    document.getElementById("email").setCustomValidity("Email already in use");
                    document.getElementById("email").reportValidity();

                }
            } else {
                // Handle other status codes or errors if needed
                console.error("Error checking email availability");
            }
        }
    };
    xhr.send(JSON.stringify({ email: email }));
    }
    function checkRole() {
        var roleSelect = document.getElementById("role_id");
        var secretCodeLabel = document.getElementById("secretCodeLabel");
        var secretCodeInput = document.getElementById("secretCode");

        // Check if the selected role is "Seller"
        if (roleSelect.value === "2") {
            // If yes, show the secret code label and input field
            secretCodeLabel.style.display = "block";
            secretCodeInput.style.display = "block";
            // Show the email label
            sellerEmailLabel.style.display = "block";
        } else {
            // If not, hide the secret code label and input field
            secretCodeLabel.style.display = "none";
            secretCodeInput.style.display = "none";
            // Hide the email label
            sellerEmailLabel.style.display = "none";
        }
    }

    function checkAndSignIn() {
    var email = document.getElementById("signInemail").value.trim();
    var password = document.getElementById("signInpsw").value;

    // Email validation
    var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (!emailRegex.test(email)) {
        document.getElementById("signInemail").setCustomValidity("Please enter a valid email address");
        document.getElementById("signInemail").reportValidity();
        return;
    }

    // Password validation
    if (!password) {
        document.getElementById("signInpsw").setCustomValidity("Password cannot be null");
        document.getElementById("signInpsw").reportValidity();
        return;
    }

        var formData = {
        email: email,
        password: password
    };

         // Make AJAX request to backend to check if email is already in use
    var xhr2 = new XMLHttpRequest();
    xhr2.open("POST", "/check-email", true);
    xhr2.setRequestHeader("Content-Type", "application/json");
    xhr2.onreadystatechange = function() {
        if (xhr2.readyState === 4) {
            if (xhr2.status === 200) {
                var response = JSON.parse(xhr2.responseText);
                if (response.available) {
                    document.getElementById("signInemail").setCustomValidity("Invalid email or password");
                    document.getElementById("signInemail").reportValidity();
                    return;
                } else {
                console.error("Checking password");
    var xhr3 = new XMLHttpRequest();
    xhr3.open("POST", "/verify-credentials", true);
    xhr3.setRequestHeader("Content-Type", "application/json");
    xhr3.onreadystatechange = function() {
        if (xhr3.readyState === 4) {
            if (xhr3.status === 200) {
                // Credentials are valid, handle sign-in
                var response = JSON.parse(xhr3.responseText);
                if (response.success) {
                    var userId = response.userId;
                    // Redirect user to dashboard or perform other actions
                    alert("Successfully signed in. UserID: " + userId);
                    console.error("signed in");
                    sessionStorage.setItem('userId', userId);
                    localStorage.setItem('userId', userId);

                    window.location.href = "/"; // Change the URL as needed



                } else {
                    // Credentials are invalid, display error message
                    document.getElementById("signInemail").setCustomValidity("Invalid email or password");
                    document.getElementById("signInemail").reportValidity();
                }
            } else {
                    document.getElementById("signInemail").setCustomValidity("Invalid email or password");
                    document.getElementById("signInemail").reportValidity();
                console.error("Error verifying credentials");
            }
        }
    };
    xhr3.send(JSON.stringify(formData));

                }
            } else {
                // Handle other status codes or errors if needed
                console.error("Error checking email availability");
            }
        }
    };
    xhr2.send(JSON.stringify({ email: email }));

    //check password



    }


function submitForm() {
    var formData = {
        email: document.getElementById("email").value,
        name: document.getElementById("name").value,
        phone: document.getElementById("phone").value,
        password: document.getElementById("psw").value,
        role: { id: document.getElementById("role_id").value }
    };

    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/users", true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                // Handle successful form submission
                alert("You have been registered!");
                // Optionally, redirect to another page or perform other actions
            } else {
                // Handle form submission errors
                console.error("Error creating user:", xhr.responseText);
                alert("Error creating user. Please try again later.");
            }
        }
    };
    xhr.send(JSON.stringify(formData));
    hideSignUpForm();
}


function fetchUserDetails(userId) {
    var xhr4 = new XMLHttpRequest();
    xhr4.open("GET", "/user-details/" + userId, true); // Properly concatenate userId
    xhr4.setRequestHeader("Content-Type", "application/json");
    xhr4.onreadystatechange = function() {
        if (xhr4.readyState === 4) {
            if (xhr4.status === 200) {
                // User details fetched successfully
                var userDetails = JSON.parse(xhr4.responseText);
                // Update the navbar with the user's name
                document.getElementById("user-name").innerText = userDetails.name;
                document.getElementById("role").innerText = userDetails.role.name;

            } else {
                console.error("Error fetching user details");
            }
        }
    };
    xhr4.send();
}

// Check if userId is present in session storage
var userId = localStorage.getItem('userId');
console.error("userId is "+localStorage.getItem('userId'));
if (userId) {
    // Fetch user details based on userId
    document.getElementById('signup-btn').style.display = 'none';
    document.getElementById('signin-btn').style.display = 'none';
    document.getElementById('user-name').style.display = 'inline-block';
    document.getElementById('role').style.display = 'inline-block';
    document.getElementById('signout-btn').style.display = 'inline-block';
    fetchUserDetails(userId);
} else {
    console.error("User ID not found in session storage");
    document.getElementById('signup-btn').style.display = 'inline-block'; // or 'block' for block-level display
    document.getElementById('signin-btn').style.display = 'inline-block'; // or 'block' for block-level display
    document.getElementById('user-name').style.display = 'none';
    document.getElementById('role').style.display = 'none';
    document.getElementById('signout-btn').style.display = 'none';

}

</script>


</body>
</html>